.recruitment {
  width: 100vw;
  padding: 20px 15vw;
  .searchHeader {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
  }
  .filterSider {
    height: fit-content;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    .filterItem {
      margin-bottom: 20px;
    }
  }
  .positionListWarp {
    height: auto;
    position: relative;
    .positionList {
      margin-bottom: 50px;
    }
    .pagination {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
  }
}
