.position {
  width: 100vw;
  padding: 20px 15vw;
  background-color: #f5f5f5;
  p {
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
    span {
      display: inline-block;
      width: 50%;
    }
  }
}
