.pageWarp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pageContent {
  min-height: 100vh;
  width: 100vw;
  padding: 20px 15vw;
  background-color: #f0f2f5;
}
