html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 5vw 0;
}
header ul {
  display: block !important;
  width: -webkit-fill-available;
  text-align: end !important;
  border-bottom: none;
  background: transparent;
}
.homeHeader .ant-menu-horizontal > .ant-menu-item-selected a {
  font-weight: 900;
}
.homeHeader
  .ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item-selected::after {
  border-bottom: 2px solid #fff;
}
.homeHeader .ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom: 2px solid #fff !important;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 200px;
  display: flex;
  background: #1f2329;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
  font-size: 20px;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
